<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fenritz.safecamera"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="SafeCameraApplication"
        android:icon="@drawable/safe_camera"
        android:label="@string/app_name" >
        <activity
            android:name=".SafeCameraActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Camera"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Camera"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="SafeCamera - Vault" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="View Image" >
        </activity>
        <activity
            android:name=".SetUpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="SetUp" >
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="Dashboard" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".FileDialog"
            android:configChanges="keyboardHidden|orientation"
            android:label="Choose File" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Change Password" >
        </activity>
        <activity 
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
    </application>

</manifest>